<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Create</title>

    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="container">
    <h1>Create new student</h1>
    <h3>Please fill out all fields</h3>

    <form method="Post" th:action="@{/create}">
        <p>Enter first name</p>
        <input type="text" th:field="${student.firstName}"/>
        <p>Enter last name</p>
        <input type="text" th:field="${student.lastName}"/>
        <p>Enter CPR</p>
        <input type="text" th:field="${student.cpr}"/>
        <p>Enter enrollment date</p>
        <input type="date" th:field="${student.enrollmentDate}"/>

        <input class="btn btn-primary" type="submit" value="Send"/>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>